body {
    min-width: 635px;
    min-height: 382px
}

.regionContainer {
    margin-right: 5px;
    margin-left: 5px;
}

.chartContainer {
    /* display: inline-block; */
    min-width: 120px;
    max-width: 120px;
    width: 120px;
}

.measures-container {
    padding-left: 3px;
}

.sort:hover {
    cursor: pointer;
}

.measure {
    margin-top: -20px;
    margin-right: 3px;

    -moz-transition: margin-left 0.3s ease 0s, visibility 0.3s cubic-bezier(0.99, -0.6, 0.735, 0.045);
    -o-transition: margin-left 0.3s ease 0s, visibility 0.3s cubic-bezier(0.99, -0.6, 0.735, 0.045);
    -webkit-transition: margin-left 0.3s ease 0s, visibility 0.3s cubic-bezier(0.99, -0.6, 0.735, 0.045);
    -ms-transition: margin-left 0.3s ease 0s, visibility 0.3s cubic-bezier(0.99, -0.6, 0.735, 0.045);
    transition: margin-left 0.3s ease 0s, visibility 0.3s cubic-bezier(0.99, -0.6, 0.735, 0.045);
}

.myhide {
    visibility: hidden;
    margin-left: -123px;

    -moz-transition: margin-left 0.3s ease 0s;
    -o-transition: margin-left 0.3s ease 0s;
    -webkit-transition: margin-left 0.3s ease 0s;
    -ms-transition: margin-left 0.3s ease 0s;
    transition: margin-left 0.3s ease 0s;
}

.regionChart {
    overflow: hidden;
    max-width: 505px;           /*chartContainer.width * 4 + 20*/
    margin: 5px;
    padding: 5px;
    background-color: #EEE;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
}

.noselect {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.regionTitle {
    text-align: center;
    font-weight: bold;
}

.measureTitle {
    text-align: center;
    transform: translate(1%, 277%);
}

.flexbox {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flexitem {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

/* .chartContainer p { */
/*     font-size: 1.5em !important; */
/* } */

.form-control {
    height: 28px;
    padding: 0px 8px;
    font-size: 14px;
}

.input-group-addon {
    width: 26%;
    padding: 6px 3px;
}

.navbar {
    padding: 10px;
}

.hide {
    display: none;
}

.input-group {
    display: inline-block;
}

.input-group .form-control {
    width: 57%;
}

.input-group .input-group-addon {
    background-color: #428bca;
    color: white;
}

.selects {
    width: 23%;
    display: inline-block;
    float: right;
    margin-left: 0.5%;
}

.navbar-default {
    background-color: #EEEEEE;
}

.placeholder-bg {
    background-color: #A5A5A5;
}

.host-placeholder {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.nav>li>a {
    padding: 4px 15px;
}

.nav.nav-pills {
    display: inline-block;
}

.navbar {
    min-height: none;
    padding: 10px 10px 5px 10px;
}

.switch-container {
    padding-top: 4px;
}

.invisible {
    visibility: hidden;
}
