body {
    min-width: 543px;
    min-height: 382px
}

.chartContainer {
    display: inline-block;
}

.form-control {
    height: 28px;
    padding: 0px 8px;
    font-size: 14px;
}

.input-group-addon {
    width: 26%;
    padding: 6px 3px;
}

.navbar {
    padding: 10px;
}

.hide {
    display: none;
}

.input-group .form-control {
    width: 57%;
}

.selects {
    width: 30%;
    display: inline-block;
    float: right;
    margin-left: 0.5%;
}

.navbar-default {
    background-color: #EEEEEE;
}