body {
    min-width: 543px;
    min-height: 382px
}

.chartContainer {
    display: inline-block;
}

.form-control {
    height: 28px;
    padding: 0px 8px;
    font-size: 14px;
}

.input-group-addon {
    width: 26%;
    padding: 6px 3px;
}

.navbar {
    padding: 10px;
}

.hide {
    display: none;
}

.input-group {
    display: inline-block;
}

.input-group .form-control {
    width: 57%;
}

.input-group .input-group-addon {
    background-color: #4078c0;
    color: white;
}

.selects {
    width: 23%;
    display: inline-block;
    float: right;
    margin-left: 0.5%;
}

.navbar-default {
    background-color: #EEEEEE;
}

.placeholder-bg {
    background-color: #EEEEEE;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.host-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.nav>li>a {
    padding: 4px 15px;
}

.nav.nav-pills {
    display: inline-block;
}

.navbar {
    min-height: none;
    padding: 10px 10px 5px 10px;
}