<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="openstack-listimage-widget" version="0.4.4">
  <details>
    <title>OpenStack List Image Widget</title>
    <email>bgrana@conwet.com</email>
    <image>images/catalogue.png</image>
    <smartphoneimage>images/catalogueSmartphone.png</smartphoneimage>
    <description>Widget that shows a table with openStack images data</description>
    <authors>bgrana</authors>
  </details>
  <requirements></requirements>
  <preferences></preferences>
  <wiring></wiring>
  <contents src="index.html"/>
  <rendering height="44" width="11"/>
</widget>
