<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="UPM-ETSIINF" name="monitoring-regions" version="0.6.2">

  <details>
    <title>Monitoring Regions</title>
    <email>bgrana@conwet.com</email>
    <image>images/catalogue.png</image>
    <smartphoneimage>images/catalogueSmartphone.png</smartphoneimage>
    <description>FIDASH widget that shows monitoring data through charts</description>
    <authors>bgrana</authors>
  </details>

  <wiring>
    <inputendpoint name="regions" type="text" label="Regions" description="Receive regions selected" friendcode="regions"/>
  </wiring>

  <contents src="index.html" useplatformstyle="true"/>
  <rendering height="38" width="7"/>
</widget>
